.outside-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url('../img/hall.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.puerta-entrada-fuera{
    position: absolute;
    bottom: 50%;
    height: 20%;
    width: 20%;
    margin-left: 400px;
    top: 40%;
}
div{
    cursor: pointer;
}

.cont{
    position: absolute;
    height: 50px;
    width: 100px;
}
.sotano{
    height: 85%;
    width: 100px;
    margin-left: 33%;
}
.banio{
    height: 90%;
    width: 200px;
    right: 5%;
}

.salon{
    height: 32%;
    width: 150px;
    left: 47%;
    top: 35%;
}

.salirBtn{
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 50%;
}
.salirBtn img{
    height: 100%;
}