* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(../img/house.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioSesion {
    width: 400px;
    padding: 35px; 
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.inicioSesion h1 {
    font-size: 30px; 
    color: #ffffff;
    margin-bottom: 25px; 
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center;
}

.usuario {
    width: 100%;
    text-align: left;
}

.boton {
    width: 100%;
}

.usuario label {
    font-size: 15px; 
    color: #ffffff;
}

.usuario input {
    width: 100%;
    padding: 12px; 
    font-size: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton input {
    width: 100%;
    padding: 12px; 
    font-size: 15px; 
    color: #fff;
    background-color: #8a2424;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton input:hover {
    background-color: #a42c2c;
}
